@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	section {
		margin-inline: 4rem;
		display: grid;
		place-items: center;
	}

	body {
		background: #f6f6f6;
	}

	a {
		color: black;
		text-decoration: underline;
	}
}
